gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
api_key.dart
/local.properties
GeneratedPluginRegistrant.java
lib/core/Utils/api_key.dart
# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
